.container.top-margin
  .col.col-md-6.offset-3.content-box
    %h2.auth-title
      = @credential.name
    %hr
    = form_for @credential do |f|
      .field.form-group
        = f.text_field :name, placeholder: "Account name", autofocus: true, autocomplete: "name", required: true, :class => "form-control"
      .field.form-group
        = f.select :provider, ["Gmail", "Outlook"], {},  { :class => "form-control" , autofocus: true }
      .field.form-group
        = f.text_field :username, placeholder: "SMTP Username", autofocus: true, :class => "form-control"
      .actions
        = f.submit "Update credential", :class => "btn btn-primary"

    