.col-md-4
  .card.campaign-card
    .card-body
      %p
        = "#{campaign.name[0..20]}#{"..." if campaign.name.length > 20}"
      .pull-right
        - if campaign.template.present?
          .badge.badge-primary
            Template
        - if campaign.data.present?
          .badge.badge-primary
            Data
      = link_to "Manage", campaign_path(campaign), class: "badge"
      = link_to "Delete", campaign_path(campaign), method: :delete, class: "badge", data: { 'confirm' => "Are you sure you want to delete this campaign?" }
