#data-view{style: "display: none"}
  = form_tag upload_campaign_path(@campaign), :multipart => true, :id => "csv-data" do |f|
    .input-group
      = file_field_tag "csv_data", class: "input-file", accept: ".csv", required: true, id: "csv-upload"
      = label_tag "Upload CSV Data", csv_data_label(@campaign.data) , for: "file", class: "btn btn-primary input-file-trigger"
  - if @campaign.data.present?
    .data-table{class: "#{"display-block" if parse_headers(@campaign.data).count > 4}"}
      = render "campaigns/csv", rows: parse_data(@campaign.data), headers: parse_headers(@campaign.data)
  
