#template-view
  .row
    .col.col-md-9
      = text_field_tag "Email Subject", @campaign.subject, placeholder: "Subject line", class: "form-control", id: "campaign-subject"
      = text_area_tag "Email template", @campaign.template, class: "quill_container", id: "campaign-template"


    .col.col-md-3
      = link_to "Run Campaign", "javascript:void(0)", class: "btn btn-block btn-primary", id: "show-run-campaign-modal-btn"
      .card.mb-3{:style => "max-width: 20rem; height: 345px;"}
        .card-header Variables
        .card-body#variables
          - parameterized_headers(@campaign.data). each do |header|
            .badge.badge-info
              = header

  .row
    .col.col-md-2
      = form_tag "", method: :post, multipart: true, id: "upload-form" do |f|
        .form-group
          .input-file-container
            = file_field_tag :attachments, class: "input-file",  multiple: true, id: "file-upload", required: true
            = label_tag "Attach a file", "Attach a file", for: "file", class: "btn-primary btn-block input-file-trigger btn"
          %p.file-return

    .col-md-10
      %p.attachments Attachments
      #current-attachments
        - @campaign.attachments.each do |attachment|
          - if attachment.previewable?
            %li
              = image_tag attachment.preview
          - else
            .badge.badge-primary{"id" => "attached-file-#{attachment.id}", "data-campaign-id" => @campaign.id, "data-attachment-id" => attachment.id}
              = attachment.blob.filename
              = link_to "x", "javascript:void(0)", class: "remove-file-btn", "data-campaign-id" => @campaign.id, "data-attachment-id" => attachment.id