.container.top-margin#campaign-dash
  .content-box
    = render "campaigns/header"
    %hr
    .content-body
      = render "campaigns/template"
      = render "campaigns/data"
      = render "campaigns/history"

  #modal-container
    = render "campaigns/run_campaign_modal"